:root {
    --primary-font-family: 'Trispace', sans-serif;
    --secondary-font-family: 'Indie Flower', cursive;
}

.body-background {
    background-color: #c9cecf;
    border: solid #15b053 2px;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--primary-font-family);
    color: black;
}

.header {
    font-family: var(--primary-font-family);
    font-weight: 600;
    font-size: 2em;
    display: flex;
    justify-content: center;
    background-color: none;
    color: black;
    align-items: center;
    margin: 0px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.bg-image {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
    color: black;
    font-weight: 300;
    font-size: 1em;
    width: 100%;
}
.image {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    opacity: 35%;
    box-sizing: border-box;
}

.image-text {
    font-family: var(--primary-font-family);
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0px;
    left: 16px;
    width: 80%;
    text-align: left;
}

.bar {
    /* font-family: var(--primary-font-family); */
    display: flex;
    background-color: #15b053;
    border-top: 10px;
    margin-top: 5px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 22%;
    height: 40px;
    background-color: #15b053;
    color: black;
    border: solid black 0.5px;
    text-align: center;
    text-decoration: none;
    font-family: var(--primary-font-family);
    font-weight: 700;
    font-size: 1.2em;
    box-shadow: 0 3px black;
    margin: 1px;
    margin-right: 1px;
    margin-top: 4px;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}

.button:hover {
    background-color: #c9cecf;
}

.button:active {
    color: #15b053;
}

.home-icon {
    height: 70%;
    align-self: center;
}

.home-button {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 12%;
    height: 40px;
    background-color: #15b053;
    border: solid black 0.5px;
    text-decoration: none;
    box-shadow: 0 3px black;
    margin-bottom: 5px;
    margin-top: 3.5px;
    margin-right: 1px;
    margin-left: 2px;
    padding: 3px;
    box-sizing: border-box;
}

.home-button:hover {
    background-color: #c9cecf;
}

.social-media {
    display: flex;
    flex-wrap: wrap;
}

.img-sm {
    width: 50px;
    margin: 20px;
}

.contact-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img-ci {
    display: flex;
    flex-wrap: wrap;
    width: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 25px;
}

.rights {
    display: block;
    font-family: var(--primary-font-family);
    margin-top: 10px;
    text-align: center;
    font-size: 0.7em;
}

/* media breakpoint for the headline and the navbar */

@media screen and (min-width: 1000px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-right: 20px;
        font-size: 5em;
        margin: 10px;
        }
        .button {
            width: 150px;
            height: 50px;
            font-weight: 400;
            font-size: 2em;
            margin: 3.5px;
            align-items: center;
            padding: 5px;
            box-sizing: border-box;
            border: solid black 2.5px;
        }
        .bar {
            border-top: 10px;
            margin-top: 5px;
            width: 100%;
            height: 60px;
        }
        .home-button {
            width: 50px;
            height: 50px;
            margin: 3.5px;
            padding: 5px;
            border: solid black 2.5px;
            box-sizing: border-box;
        }

        .bg-image {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            font-weight: 500;
            font-size: 1.5em;
        }

        .image-text {
            width: 50%;
        }
}

@media screen and (max-width: 1000px) {
    .image-text {
        font-size: 1.2em;
        font-weight: 400;
    }
}

/* blog/projects page styling */

  .row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 2.5px;
      box-sizing: border-box;
}
  .leftcolumn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      box-sizing: border-box;
      font-size: 1.5em;
}

  /* blog posts with backgroung effects */
  .blog-post {
    display: flex;
    flex-direction: column;
    background-color: #15b053;
    padding: 10px;
    width: 100%;
    margin-top: 2.5px;
    box-sizing: border-box;
    margin-bottom: 2.5px;
}

  .project-name {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.description-date {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

 /* blog image */
 .blog-img {
    display: flex;
    flex-direction: column;
    border: 2px solid #000000;
    width: 100%;
    box-sizing: border-box;
    margin: 5px;
    margin-right: 5px;
    align-self: center;
  }

.blog-text {
    font-family: var(--primary-font-family);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    width: 100%;
    margin-right: 5px;
    font-size: 0.9em;
    margin-top: 5px;
}
  .rightcolumn {
      display: block;
      width: 100%;
      box-sizing: border-box;
  }

  .side-card { 
    margin: 2.5px;
    
  }
  
  .contact-card {
      display: flex;
      flex-direction: row;
      justify-content: center;
  }

  .twitter-timeline {
    display: block;
    width: 100%;
    box-sizing: border-box;
}
  
  .linkedin-post {
    width: 100%;
}
  
  /* media breakpoint for the blog/projects page */
  @media screen and (min-width: 1000px) {
    .leftcolumn {
      width: 74%;
      padding: 0;
    }

    .rightcolumn {
        width: 25%;
        position: absolute;
        top: 202px;
        right: 5px;
        margin-left: 5px;
    }

    .blog-text {
        font-size: 1em;
        font-weight: 400;
    }

    .contact-card {
        width: 24.7%;
        position: absolute;
        top: 615px;
        right: 7px;
        border: solid #000000 2px;
        box-sizing: border-box;
        background-color: white;
    }
}

/* contact page styling */

input[type=text], select, textarea {
    width: 99%;
    padding: 12px;
    border: 1px solid #15b053;
    border-radius: 4px;
    resize: vertical;
    box-sizing: border-box;
    margin: 3px;
    background-color: #15b053;
    font-family: var(--primary-font-family);
    font-size: 0.9em;
    color: #000000;
  }
  
  label {
    padding-top: 2px;
    padding-left: 2px;
    padding-bottom: 0px;
    display: block;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 0px;
  }
  
  .conntact-form {
    border-radius: 5px;
    background-color: #15b053;
    padding: 20px;
  }
  
  .label {
    width: 70%;
    margin-top: 5px;
    margin-left: 5px;
  }
  
  .placeholder {
    width: 100%;
    margin-top: 6px;
    
  }
  
  /* clearing the floats after the column */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* media breakpoint for the contact page */
  @media screen and (min-width: 1000px) {
    .label, .placeholder {
      width: 75%;
      margin-top: 0;
    }

    #contact-info-page {
        border: 2px solid #15b053;
        width: 20%;
        position: absolute;
        right:10px;
        top: 230px
    }
  }

  /* Bio page styling */

  .bio-text{
      display: flex;
      flex-direction: column;
      font-family: var(--primary-font-family);
  }

  .bio-subheadline {
      font-size: 1.5em;
      margin: 5px;
      margin-top: 10px;
      text-decoration: underline;
  }

  .bio-paragraph {
      font-size: 0.9em;
      margin: 5px;
  }

  .footer-rectangle {
      height: 2px;
      width: 100%;
      padding: 5px;
      border: solid #15b053 1px;
      background-color: #15b053;
  }

  /* Work History */

  